body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-break: break-all;
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 10%;
    background-color: brown;
    margin-left: calc( (100% - 800px) / 2);
}

.left-column {
    width: 40%;
    float: left ;
    background-color: blue;
}

.right-column {
    
    width: 60%;
    float: left;
    padding: 60px;
    background-color: yellow;
}

.close {

}