.container {
    display: inline-block;
    width: 800px;
    background-color: brown;
    margin-left: calc( (100% - 800px) / 2);
}

.left-column {
    width: 40%;
    float: left ;
    background-color: blue;
}

.right-column {
    width: 60%;
    height: 200px
    background-color: yellow;
}